@media(max-height: 900px) {
  .main__top {
    margin-bottom: 200px;
  }
}

@media(min-width: 1920px){
  .plane {
    z-index: 2;
  }
  .airplane1 {
    z-index: 3;
  }
  .airplane2 {
    z-index: 4;
  }
  .cloud1 {
    z-index: 4;
  }
}

@media(max-width: 1920px) {
  .plane {
    z-index: 2;
  }
  .airplane1 {
    z-index: 3;
  }
  .airplane2 {
    z-index: 4;
  }
  .cloud1 {
    z-index: 4;
  }

}

@media(max-width: 1700px) {
  .phone {
    right: 0;
  }
  .devices {
    width: 110em;
    height: 90em;
  }
}

@media(max-width: 1460px) {
  .phone {
    height: 60em;
  }
  .plane {
    left: -20em;
  }
}

@media(max-width: 1366px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 54px;
  }
  .app__aviator1 .button__bonus {
    font-size: 32px;
  }
  .airplane1 {
    width: 66em;
    height: 31em;
  }
}

@media(max-width: 1024px) {
  .app__aviator2 .main__top {
    align-items: center;
  }
  ._main {
    padding-right: 1em;
  }
  .app__aviator2 ._white {
    margin-right: 0em;
  }
  .app__aviator2 ._right {
    margin-right: -2em;
  }
  .app__aviator2 .button__bonus {
    margin-right: 0;
  }
}

@media(max-width: 980px) {
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 48px;
  }
  .app__aviator2 .header {
    margin-bottom: 260px;
  }
  .app__aviator2._bn .header {
    margin-bottom: 260px;
  }
  .main__subtitle {
    font-size: 18px;
  }
  .app__aviator2 .button__bonus {
    font-size: 24px;
  }
  .app__aviator1 .button__bonus {
    font-size: 28px;
    padding: 42px 48px;
  }
  .phone {
    width: 26em;
    bottom: 5em;
  }
  .plane {
    width: 57em;
    height: 41em;
    left: -17em;
    bottom: 13em;
  }
  
  .footer__payment {
    grid-row: 1;
    grid-column: 1 / span 3;
  }
  .footer__logo {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__socials {
    grid-row: 2;
    grid-column: 3;
  }
  .footer__copyright {
    grid-row: 3;
  }
  .modal {
    min-width: unset;
    width: 80vw;
  }
  .modal__title_main {
    font-size: 24px;
  }
  .modal__title {
    font-size: 18px;
  }
  .cloud1 {
    width: 85em;
    height: 45em;
  }
  .cloud2 {
    width: 94em;
    height: 39em;
  }
  
}

@media(max-width: 767px) {
  h1 {
    font-size: calc(72px + 4vw);
  }
  h2 {
    font-size: calc(38px + 4vw);
  }
  h3 {
    font-size: calc(32px + 4vw);
  }

  .app__aviator1 .button__bonus {
    font-size: 24px;
    padding: 32px 42px;
  }
  .app__aviator2 .main__bot {
    justify-content: center;
  }
  .app__aviator2 .registration {
    width: 80vw;
  }

  .app__aviator2 .registration__title {
    width: 72vw;
  }
  .app__aviator2 .registration__title-text {
    font-size: 24px;
  }
  .app__aviator2 .registartion__text {
    font-size: 16px;
  }
  .app__aviator2 .registration__sum {
    font-size: 96px;
  }
  .app__aviator2._bn .registration__sum {
    font-size: 88px;
  }

  .app__aviator2 .registration__button {
    font-size: 20px;
  }
  .app__aviator2 .button__bonus {
    width: 90vw;
  }
  .devices {
    display: none;
  }
}

@media(max-width: 600px) {
  h1 {
    font-size: calc(64px + 4vw);
  }
  .app__aviator2 .button__bonus {
    font-size: 18px;
  }
  .header__inner {
    flex-direction: column;
    gap: 12px;
  }
  .logos {
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 12px 0;
  }

  .logos:after {
    content: '';
    border: 1px solid #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: .1;
  } 
  
  .logo__link:first-child:after {
    display: none;
  }

  .header__button {
    padding: 8px 0;
  }

  .app__aviator2 .registration__button {
    width: 68vw;
    height: 60px;
    padding: 0;
    font-size: 16px;
  }

  .app__aviator2 .registration__sum {
    font-size: 72px;
  }
  .app__aviator2._bn .registration__sum {
    font-size: 68px;
  }

  .app__aviator1 .button__bonus {
    font-size: 22px;
    padding: 25px 32px;
  }
  .footer__inner {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .footer__payment {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    padding-bottom: 24px;
  }
  .footer__payment:before {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    padding-bottom: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .footer__logo {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .footer__socials {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__copyright {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__copyright:before {
    display: none;
  }
  .clouds-forward {
    bottom: 4em;
    width: 100em;
    height: 64em;
  }
  .clouds-forward2 {
    bottom: 1em;
    width: 59em;
    height: 40em;
  }
  .plane {
    width: 49em;
    height: 32em;
    left: -17em;
    bottom: 26em;
  }
  .airplane1 {
    width: 45em;
    height: 21em;
    top: 9em;
  }
  .airplane2 {
    width: 26em;
    height: 17em;
  }
  .airplane3 {
    left: 6em;
    width: 25em;
  }

  .modal {
    width: 90vw;
    padding: 16px 24px 16px;
  }
}

@media(max-width: 540px) {
  .app__aviator1._bn h2 {
    font-size: 44px;
  }
  ._main {
    padding-right: 0;
  }
  .main__subtitle {
    font-size: 14px;
  }
  .main__subtitle-block {
    margin-bottom: 0;
  }
  .app__aviator2 .main__top {
    margin-bottom: 100px;
  }
  .app__aviator2 .registration {
    width: 90vw;
  }

  .app__aviator2 .registration__title {
    width: 80vw;
  }

  .app__aviator2 .registration__title-text {
    font-size: 20px;
  }

  .app__aviator2 .button__bonus {
    padding: 24px 32px;
  }
  
  .clouds-forward2 {
    bottom: 2em;
    width: 57em;
    height: 49em;
    z-index: 2;
  }
  .clouds-forward {
    bottom: 15em;
    width: 100em;
    height: 27em;
    z-index: 2;
  }
  .phone {
    width: 19em;
    z-index: 1;
    right: -3em;
    height: 42em;
  }
  .plane {
    width: 45em;
    height: 25em;
    left: -11em;
  }
  .airplane1 {
    top: 9em;
  }
  .cloud1 {
    width: 54em;
    height: 30em;
    top: 20em;
  }
  .cloud2 {
    width: 59em;
    height: 29em;
  }
}

@media(max-width: 470px){
  h1 {
    font-size: calc(58px + 4vw);
  }
}

@media(max-width: 420px) {
  h1 {
    font-size: calc(48px + 4vw);
  }
  h3 {
    font-size: calc(26px + 4vw);
  }
  .app__aviator1._bn h2 {
    font-size: 38px;
  }
  .app__aviator1._bn h3 {
    font-size: 32px;
  }
  .app__aviator2 .registration {
    padding: 54px 10px 32px;
  }
  .app__aviator2 .registration__sum {
    font-size: calc(60px + 2vw);
  }
  .app__aviator2._bn .registration__sum {
    font-size: 62px;
  }
  
  .app__aviator2 .registration__button {
    width: 78vw;
  }
  .app__aviator2 .registration__title {
    width: 74vw;
  }
  .app__aviator2 .registration__title-text {
    font-size: 18px;
  }
  .airplane1 {
    width: 33em;
    height: 21em;
    top: 12em;
    left: 2em;
  }
  .airplane2 {
    width: 21em;
    height: 17em;
    top: 15em;
  }
  .airplane3 {
    left: 6em;
    width: 25em;
    top: 10em;
  }
  
}

@media(max-width: 360px) {
  h1 {
    font-size: calc(44px + 4vw);
  }
  .app__aviator1._bn h2 {
    font-size: 34px;
  }
  .app__aviator1._bn h3 {
    font-size: 28px;
  }
  .plane {
    height: 21em;
  }
  .app__aviator2 .registration__sum {
    font-size: 58px;
  }
  .app__aviator2._bn .registration__sum {
    font-size: 54px;
  }
  
}